* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 90%;
    height: auto;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.container__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container__informacoes {
    margin-top: 30px;
    flex: 1;
    padding: 20px;
}

.container__texto {
    margin: 16px 0;
    text-align: center;
}

.container__texto-azul {
    color: #1875E8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

.container__botao {
    margin-top: 16px;
    border-radius: 16px;
    background: #1875E8;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.container__botao-nova-partida {
    background-color: #1875E8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container__botao-nova-partida:hover {
    background-color: #1354A5;
}

.container__texto button {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 12px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Elemento de bloco */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Cursor ao passar */
    border-radius: 10px; /* Borda arredondada */
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
